*{
    box-sizing: border-box;
}

body {
  
    display: flex;
    background-color: #261C2C;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.seat{
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#B983FF;
    height: 35px;
    width: 35px;
    margin: 3px;
    border-radius: 7px;

}
.seatx{
    background-color:rgba(20,10,10,0);
    height: 35px;
    width: 35px;
    margin: 3px;

}

.row{
    display: flex;
}

.seat.selected
{
    background-color: orange;
}

.seat.occupied
{
    background-color:#F7F7F7;
}

.seat:nth-of-type(3)
{
    margin-left: 35px;
}

.showcase
{
    display: flex;
    padding: 10px 15px;
    border-radius: 10px;
    list-style-type: none;
    justify-content: space-between;
}

.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}